<header>

    <h1>Настройка блока питания</h1>

    <form method='post' accept="/">

        <li>

        <input type = 'text' name = "Voltage" placeholder="Напряжение">

        </li>
    
        <li>

        <input type = 'text' name = 'Current' placeholder="Сила тока">

        </li>

        <button type = 'submit'>Отправить</button>

    </form>

</header>